@model PostDetailViewModel

<div class="share-buttons">
    <a href="/share/track/facebook/@Model.Id?url=@Model.FullUrl" target="_blank" rel="noopener" class="btn">
        Share on Facebook
    </a>

    <a href="/share/track/twitter/@Model.Id?url=@Model.FullUrl" target="_blank" rel="noopener" class="btn">
        Share on X
    </a>

    <a href="/share/track/linkedin/@Model.Id?url=@Model.FullUrl" target="_blank" rel="noopener" class="btn">
        Share on LinkedIn
    </a>
</div>